<template>
  <Layout>
    <component
      v-if="story.content.component"
      :key="story.content._uid"
      :blok="story.content"
      :is="story.content.component"
    />
  </Layout>
</template>

<script>
export default {
  name: 'StoryblokEntryTemplate',
  computed: {
    story () {
      return this..storyblokEntry
    }
  }
}
</script>

<page-query>
query StoryblokEntry (: ID) {
  storyblokEntry (id: ) {
    id
    slug
    content
  }
}
</page-query>